In [1]:
numerical = ['express.no.transactions', 'express.total.spend','metro.no.transactions','metro.total.spend', \
             'superstore.no.transactions','superstore.total.spend','extra.no.transactions','extra.total.spend',\
             'fandf.no.transactions','fandf.total.spend','petrol.no.transactions','petrol.total.spend', \
             'direct.no.transactions','direct.total.spend']

categorical = ['gender','affluency','county']

content_list = ['content_1','content_2', 'content_3','content_4','content_5','content_6', \
                'content_7','content_8','content_9']

data_file = r'C:\Users\martinX1\Dropbox\projects\PredictingClicks\content_train.tsv'

In [2]:
import csv
import pandas
import numpy

def bulild_features(file,numerical,categorical,content_list):
    with open(file, "r") as f:
        reader = csv.DictReader(f, delimiter='\t') #for performance I don't work with DataFrame here
        new_data = [] #it's much faster to use list of dictionaries to construc a new dataset
        for row in reader:
            for content in content_list:
                if content in row and row[content] != 'NA':
                    row_new = {_:row[_] for _ in numerical+categorical}
                    row_new['content'] =content
                    row_new['click'] = int(row[content])
                    new_data.append(row_new)
        df = pandas.DataFrame(new_data)
        df[numerical] = df[numerical].astype(numpy.float64)
        return df          
 
    
%time new_data = bulild_features(data_file, numerical, categorical, content_list)
new_data.head()

Wall time: 6.67 s

,affluency,click,content,county,direct.no.transactions,direct.total.spend,express.no.transactions,express.total.spend,extra.no.transactions,extra.total.spend,fandf.no.transactions,fandf.total.spend,gender,metro.no.transactions,metro.total.spend,petrol.no.transactions,petrol.total.spend,superstore.no.transactions,superstore.total.spend
0,Mid,0,content_7,Surrey,10.0,617.47,44.0,984.54,39.0,634.11,14.0,76.12,Female,64.0,2121.46,32.0,753.12,21.0,78.56
1,Mid,0,content_8,Surrey,10.0,617.47,44.0,984.54,39.0,634.11,14.0,76.12,Female,64.0,2121.46,32.0,753.12,21.0,78.56
2,Mid,0,content_4,Greater Manchester,51.0,2787.49,49.0,514.98,52.0,679.78,13.0,142.74,Female,79.0,56.28,28.0,37.86,39.0,2824.11
3,Mid,0,content_6,Greater Manchester,51.0,2787.49,49.0,514.98,52.0,679.78,13.0,142.74,Female,79.0,56.28,28.0,37.86,39.0,2824.11
4,Mid,0,content_9,Greater Manchester,51.0,2787.49,49.0,514.98,52.0,679.78,13.0,142.74,Female,79.0,56.28,28.0,37.86,39.0,2824.11

In [3]:
new_data.to_pickle('data.pickle')